body {
    max-width: 50%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
    padding: 3px 3px;
}

/* 차트 css */
#chart-container {
    display: flex;
    max-width: 100%;
    height: 240px;
    margin: 0 auto;
    padding-left: 30px;
    position: relative;
  }

#y-axis {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 30px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
    pointer-events: none;
    line-height: 1;
}

#y-axis div {
    height: 50%;
    display: flex;
    padding-top: 10px;
    align-items: flex-start;
    justify-content: flex-end;
  }

.chart-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    position: relative;
}

.bar-area {
    display: flex;
    align-items: flex-end;
    height: 200px;
    padding-left: 20px;
    margin-left: 10px;
    gap: 10px;
    padding-bottom: 0;
    border-left: 2px solid black;
}

.x-axis {
    height: 30px;
    margin-left: 10px;
    border-top: 2px solid black;

}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    position: relative;
    bottom: -23px;
}
  
.bar-rect {
    background-color: steelblue;
    width: 100%;
    transition: height 0.3s ease;
    min-height: 0px;
}
  
.bar-label {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

/* 테이블 css */
.table-container {
    width: 100%;
    table-layout: fixed;
    align-items: center;
    text-align: center;
    font-size: 12px;
}

th:nth-child(1), td:nth-child(1) { width: 20%; }
th:nth-child(2), td:nth-child(2) { width: 70%; }
th:nth-child(3), td:nth-child(3) { width: 10%; }

tr {
    height: 30px;
}

tr button {
    color: red;
    background-color: transparent;
    border: none;
}

.table-container thead {
    background-color: #D3D3D3
}

tbody {
    background-color: #F5F5F5;
}

table input {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
  }

.table-container input {
    text-align: center;
    border: none;
}

.table-apply-btn-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 3px;
}

#table-apply-btn {
    height: 25px;
    width: 61px;
}

/* 값 추가 css */
#input-container {
    display: flex;
    width: 100%;
}

#add-id {
    width: 10%;
}

#add-value {
    width: 75%;
    margin-left: 5px;
}

#add-btn {
    width: 10%;
    margin-left: 10px;
}